<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite parallel="false" name="nopCommerceRegressionSuite">
	<parameter name="Browser" value="ChromeHeadless"></parameter>
	<test name="nopCommerceRegression" preserve-order = "true">
		<classes>
		<class name="Nopcommerce.AFT.TestUserContactUs"/>
			<class name="Nopcommerce.AFT.TestAutoCompleteSearch"/>
			<class name="Nopcommerce.AFT.TestUserChangeCurrency"/>
			
			
		</classes>
	</test>
</suite>
